modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5000

[[ports]]
localPort = 5174
externalPort = 3000

[[ports]]
localPort = 39063
externalPort = 3001

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Build and Preview"
author = 42167165
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd project && npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd project && npm run preview"

[[workflows.workflow]]
name = "Build and Serve"
author = 42167165
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd project && npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd project && npx serve dist -s -l 5000"

[[workflows.workflow]]
name = "Run"
author = 42167165
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd project && npm run dev"
